*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  background-color: #E5E5E5;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
}

.containear {
  max-width: 1290px;
  margin: auto;
  padding: 0 20px;
  
}

.header-logo {
  display: flex;
  justify-content: space-between;
}

.header-logo__img {
  margin-top: 17px;
}

.header-logo__list {
  margin-top: 51px;
}

.header-logo-list__a {
  margin-right: 40px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #171832;
  opacity: 0.7;
}

.header-logo__button {
  margin-top: 35px;
  width: 166px;
  height: 57px;
  left: 1204px;
  top: 35px;
  align-items: center;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  flex: none;
  order: 0;
  background: #2D74FF;
  border-radius: 5px;
}

.main__section {
  display: flex;
  justify-content: baseline;
}

.main-section__our {
  position: relative;
  margin-bottom: 140px;
}

.main-section__h4 {
  margin: 230px 0 15px 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2D74FF;
  opacity: 0.7;
}

.main-section__h1 {
  margin-bottom: 40px;
  width: 520px;
  font-family: 'Gelasio';
  font-style: normal;
  font-weight: 600;
  font-size: 57px;
  line-height: 120%;
  color: #171832;
}

.main-section__span {
  font-family: 'Gelasio';
  font-style: normal;
  font-weight: 600;
  font-size: 57px;
  line-height: 120%;
  color: #0876c0;
}

.main-section__button {
  margin-right: 40px;
}


.main-section__playVideo {
  border-radius: 5%;
  height: 60px;
}

.main-section__img {
  
}

.main-section__p {
  display: inline-block;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #171832;
  opacity: 0.7;
}

.main-section__girl {
 
  position: relative;
}

.main-section-girl__img {
  position: absolute;
  margin-left: 90px;
}


.main-secrion-girl__bulb {
  position: relative;
  top: 30px;
  left: 200px;
  transition: 1s;
  border-radius: 50%;
  padding: 40px;
  background-color: #FFFFFF;
}
.main-secrion-girl__bulb:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 30px blue;
  transition: 1s;
}

.main-secrion-girl__messages{
  position: relative;
  top: 395px;
  background-color: #FFFFFF;
  transition: 1s;
  border-radius: 50%;
  padding: 40px;
}
.main-secrion-girl__messages:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 30px blue;
  transition: 1s;
}

.main-secrion-girl__social {
  position: relative;
  top: 180px;
  left: 400px;
  background-color: #FFFFFF;
  transition: 1s;
  border-radius: 50%;
  padding: 40px;
}
.main-secrion-girl__social:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 30px blue;
  transition: 1s;
}

.main-section__border {
  position: relative;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.06);
 
}

.main__content {
  max-width: 100%;
  display: flex;
  justify-content: space-between;

}

.main-content-h4__community {
  margin: 140px 0 15px 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2D74FF;
  opacity: 0.7;

}

.main-content-h2__platfrom {
  margin-bottom: 25px;
  width: 292px;
  font-family: 'Gelasio';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140%;
  color: #171832;
}

.main-content-p__lorem {
  width: 423px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #171832;
  opacity: 0.7;
  margin-bottom: 40px;
}

.main-content-what__button {
  margin-bottom: 140px;
}

.main--content-img__logo {
  margin-top: 50px;
}


.main__item {
  margin-bottom: 154px;
}

.main--item__groupFlex {
  display: flex;
  justify-content: space-between;
}

.main--irem__h4 {
  margin: 0 0 60px 0;
  text-align: center;
  font-family: 'Gelasio';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140%;
  color: #171832;
}

.main--item__groupBlock{
  text-align: center;
  width: 360px;
  background: #FFFFFF;
  
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 10px;
}

.main--item__groupLogo {
  width: 100px;
  height: 100px;
  margin-top: 23px;
  background-color: #FFFFFF;
}

.main--item--h4__group {
  font-family: 'Gelasio';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #171832;
  background-color: #FFFFFF;
  
}

.main--item--text__group {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #171832;
  opacity: 0.7;
  background-color: #FFFFFF;
}

.main--swiper {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main--swiper__h5 {
  display: inline-flex;
  align-items: center;
  font-family: 'Gelasio';
  font-style: Medium;
  font-size: 32px;
  line-height: 45px;
  line-height: 140%;
  vertical-align: Top;
  color:#171832;
}

.main--swiper-img {  
  padding: 26px;
  border-radius: 50%;
}

.main--swiper-img__left {
  transform: scaleX(-1);

  
}
.main--swiper-img:hover {
  background-color: #FFFFFF;
  
  }

.main--swiper-arrows__button {
  border-radius: 50%;
  padding: 0px;
  
}
.main--swiper-arrows__button:hover {
background-color: #FFFFFF;
border: #FFFFFF;

}

.main--swiper-arrows__buttonStyle {
  margin-left: 60px;
}

.main--swiper__cart{
 display: flex;
 justify-content: space-between;
}

.main--swiper-cart__user {
  padding: 50px 80px;
  width: 555px;
  height: 350px;
  background: #FFFFFF;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.03);
  border-radius: 10px
}

.main--swiper--cart-user__img {
  background-color: #FFFFFF;
}

.main--swiper--cart-user__text {
  width: 391px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #171832;
  opacity: 0.8;
  background-color: #FFFFFF;
}

.main--swiper--cart-user__avatars {
  display: inline-flex;
  background-color: #FFFFFF;
}

.main--swiper--cart--user-avatars__img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  
}

.main--swiper--cart--user-avatars__h5 {
  
  font-family: 'Gelasio';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #171832;
  background-color: #FFFFFF;
}

.main--swiper--cart--user-avatars__span {
  display: block;
  background-color: #FFFFFF;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #171832;
  }

  .swiper {
    width: 100%;
    height: 300px;
  }